In [21]:
print("Missing values in 'society' column:")
print(df['society'].isnull().sum())

print("\nData type of 'society' column:")
print(df['society'].dtype)

print("\nUnique values and their frequencies in 'society' column:")
print(df['society'].value_counts(dropna=False))

Missing values in 'society' column:
0

Data type of 'society' column:
object

Unique values and their frequencies in 'society' column:
society
No Society    5502
GrrvaGr         80
PrarePa         76
Prtates         59
Sryalan         59
              ...
SJces R          1
Shamzm           1
Vemit S          1
NantsGa          1
PronsAs          1
Name: count, Length: 2689, dtype: int64

In [22]:
import pandas as pd

# Load the correct dataset as df
df = pd.read_csv('/content/Bengaluru_House_Data (2).csv')

print("Missing values in 'society' column:")
print(df['society'].isnull().sum())

print("\nData type of 'society' column:")
print(df['society'].dtype)

print("\nUnique values and their frequencies in 'society' column:")
print(df['society'].value_counts(dropna=False))

Missing values in 'society' column:
5502

Data type of 'society' column:
object

Unique values and their frequencies in 'society' column:
society
NaN        5502
GrrvaGr      80
PrarePa      76
Prtates      59
Sryalan      59
           ...
SJces R       1
Shamzm        1
Vemit S       1
NantsGa       1
PronsAs       1
Name: count, Length: 2689, dtype: int64

In [23]:
df['society'] = df['society'].fillna('No Society')

print("Missing values in 'society' column after imputation:")
print(df['society'].isnull().sum())

print("\nUnique values and their frequencies in 'society' column after imputation:")
print(df['society'].value_counts(dropna=False))

Missing values in 'society' column after imputation:
0

Unique values and their frequencies in 'society' column after imputation:
society
No Society    5502
GrrvaGr         80
PrarePa         76
Prtates         59
Sryalan         59
              ...
SJces R          1
Shamzm           1
Vemit S          1
NantsGa          1
PronsAs          1
Name: count, Length: 2689, dtype: int64

In [24]:
print("Descriptive statistics for 'price' column:")
print(df['price'].describe())

print("\nData type of 'price' column:")
print(df['price'].dtype)

Descriptive statistics for 'price' column:
count    13320.000000
mean       112.565627
std        148.971674
min          8.000000
25%         50.000000
50%         72.000000
75%        120.000000
max       3600.000000
Name: price, dtype: float64

Data type of 'price' column:
float64

In [25]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"First Quartile (Q1): {Q1}")
print(f"Third Quartile (Q3): {Q3}")
print(f"Interquartile Range (IQR): {IQR}")
print(f"Lower Bound for Outliers: {lower_bound}")
print(f"Upper Bound for Outliers: {upper_bound}")

outliers = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)]

print(f"\nNumber of identified outliers: {len(outliers)}")
print("\nIdentified outlier rows based on 'price' column:")
print(outliers[['price']].head()) # Displaying first few outlier rows for brevity, focusing on price

First Quartile (Q1): 50.0
Third Quartile (Q3): 120.0
Interquartile Range (IQR): 70.0
Lower Bound for Outliers: -55.0
Upper Bound for Outliers: 225.0

Number of identified outliers: 1276

Identified outlier rows based on 'price' column:
    price
7   600.0
9   370.0
11  295.0
18  290.0
22  380.0

In [26]:
cleaned_df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

print("Shape of the original DataFrame:", df.shape)
print("Shape of the cleaned DataFrame after removing price outliers:", cleaned_df.shape)
print(f"Number of rows removed: {df.shape[0] - cleaned_df.shape[0]}")

Shape of the original DataFrame: (13320, 9)
Shape of the cleaned DataFrame after removing price outliers: (12044, 9)
Number of rows removed: 1276

In [27]:
print(f"Total number of rows in the cleaned dataset: {len(cleaned_df)}")

Total number of rows in the cleaned dataset: 12044